BasedOnStyle: LLVM
IndentWidth: 4

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*'
    Priority: 1
  - Regex: '^<(container|cib|flow|interrupt|log|msg|sc|seq)/.*'
    Priority: 2
  - Regex: '^<(boost|catch2|fmt|gmock|gtest)/.*'
    Priority: 3
  - Regex: '<.*'
    Priority: 4
