BasedOnStyle: LLVM
IndentWidth: 4

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*'
    Priority: 1
  - Regex: '^<(container|cib|flow|interrupt|log|lookup|msg|sc|seq)/.*'
    Priority: 2
  - Regex: '^<(boost|catch2|fmt|gmock|gtest|rapidcheck)/.*'
    Priority: 3
  - Regex: '<.*'
    Priority: 4

QualifierAlignment: Custom
QualifierOrder: ['constexpr', 'static', 'inline', 'type', 'const', 'volatile']
