BasedOnStyle: LLVM
IndentWidth: 4

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<(container|cib|flow|interrupt|log|msg|sc)/.*'
    Priority: 1
  - Regex: '^<(boost|catch2|gmock|gtest)/.*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
