# ignore all directories that start with . (except .github/)
**/.*/
!.github/

# ignore conventionally-named build directories
**/build*/
**/*build/
# and some other build directories
**/cmake-build-*/

# ignore conventionally-named python virtual env directories
# (this is only necessary before Python 3.13)
**/venv*/
**/*venv/
# and __pycache__ directories
**/__pycache__/

# ignore files provided by CICD
/.clang-format
/.clang-tidy
/.cmake-format.yaml
/CMakePresets.json
/toolchains
/mull.yml
/requirements.txt
/docs/puppeteer_config.json
/docs/mermaid.conf
