[submodule "lib/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/hana"]
	path = extern/hana
	url = https://github.com/boostorg/hana.git
