name: Publish GitHub Pages
permissions: read-all

on:
  workflow_dispatch:
  push:
    branches: [ main ]

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  configure:
    name: Configure Github Pages Publishing
    runs-on: ${{ github.repository_owner == 'intel' && 'intel-' || '' }}ubuntu-24.04
    outputs:
      enable_publish: ${{ steps.check.outputs.isfork == 'NO' }}
    steps:
      - id: check
        name: Check if Fork
        run: |
          if [ "${{ github.repository_owner }}" = "intel" ]; then
            echo "This is the main repository, **enabling publishing**" >> "$GITHUB_STEP_SUMMARY"
            echo "isfork=NO" >> "$GITHUB_OUTPUT"
          else
            echo "This is a fork, **disabling publishing**" >> "$GITHUB_STEP_SUMMARY"
            echo "isfork=YES" >> "$GITHUB_OUTPUT"
          fi

  build:
    needs: configure
    name: Build Documentation
    runs-on: ${{ github.repository_owner == 'intel' && 'intel-' || '' }}ubuntu-24.04
    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22

      - name: Install Asciidoctor & Mermaid
        run: |
          npm install -g @mermaid-js/mermaid-cli@11.12.0
          npx puppeteer browsers install chrome-headless-shell
          sudo gem install asciidoctor asciidoctor-diagram rouge

      - name: Restore CPM cache
        env:
          cache-name: cpm-cache-0
        id: cpm-cache-restore
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/cpm-cache
          key: ${{runner.os}}-${{env.cache-name}}-${{ hashFiles('**/CMakeLists.txt', 'cmake/**') }}
          restore-keys: |
            ${{runner.os}}-${{env.cache-name}}-

      - name: Configure CMake
        run: cmake -Bbuild -DCPM_SOURCE_CACHE=~/cpm-cache

      - name: Save CPM cache
        env:
          cache-name: cpm-cache-0
        if: steps.cpm-cache-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/cpm-cache
          key: ${{runner.os}}-${{env.cache-name}}-${{ hashFiles('**/CMakeLists.txt', 'cmake/**') }}

      - name: Build documentation
        run: |
          test $(cmake --build build -v -t docs | grep -c ERROR) == 0
          touch ./build/docs/.nojekyll
          ls -la ./build/docs

      - name: Setup github pages
        if: needs.configure.outputs.enable_publish == 'true'
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ${{github.workspace}}/build/docs

  deploy:
    needs: [configure, build]
    if: needs.configure.outputs.enable_publish == 'true'
    name: Deploy Documentation
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ${{ github.repository_owner == 'intel' && 'intel-' || '' }}ubuntu-24.04
    steps:
      - name: Deploy to github pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
