name: Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  BUILD_TYPE: Debug

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
       include:
         - compiler: clang-14
           install: wget https://apt.llvm.org/llvm.sh && chmod +x llvm.sh && sudo ./llvm.sh 14
           cc: " /usr/lib/llvm-14/bin/clang"
           cxx: "/usr/lib/llvm-14/bin/clang++"
         - compiler: clang-13
           install: wget https://apt.llvm.org/llvm.sh && chmod +x llvm.sh && sudo ./llvm.sh 13
           cc: " /usr/lib/llvm-13/bin/clang"
           cxx: "/usr/lib/llvm-13/bin/clang++"
         - compiler: clang-12
           install: sudo apt update && sudo apt-get install -y clang-12
           cc: " /usr/lib/llvm-12/bin/clang"
           cxx: "/usr/lib/llvm-12/bin/clang++"
         - compiler: clang-11
           install: sudo apt update && sudo apt-get install -y clang-11
           cc: " /usr/lib/llvm-11/bin/clang"
           cxx: "/usr/lib/llvm-11/bin/clang++"
         - compiler: clang-10
           install: sudo apt update && sudo apt-get install -y clang-10
           cc: " /usr/lib/llvm-10/bin/clang"
           cxx: "/usr/lib/llvm-10/bin/clang++"
         - compiler: clang-9
           install: sudo apt update && sudo apt-get install -y clang-9
           cc: " /usr/lib/llvm-9/bin/clang"
           cxx: "/usr/lib/llvm-9/bin/clang++"
         - compiler: clang-8
           install: sudo apt update && sudo apt-get install -y clang-8
           cc: " /usr/lib/llvm-8/bin/clang"
           cxx: "/usr/lib/llvm-8/bin/clang++"
         - compiler: clang-7
           install: sudo apt update && sudo apt-get install -y clang-7
           cc: " /usr/lib/llvm-7/bin/clang"
           cxx: "/usr/lib/llvm-7/bin/clang++"
         - compiler: gcc-11
           install: sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test && sudo apt update && sudo apt-get install -y gcc-11 g++-11
           cc: "/usr/bin/gcc-11"
           cxx: "/usr/bin/g++-11"
         - compiler: gcc-10
           install: sudo apt update && sudo apt-get install -y gcc-10
           cc: "/usr/bin/gcc-10"
           cxx: "/usr/bin/g++-10"
         - compiler: gcc-9
           install: sudo apt update && sudo apt-get install -y gcc-9
           cc: "/usr/bin/gcc-9"
           cxx: "/usr/bin/g++-9"
         - compiler: gcc-8
           install: sudo apt update && sudo apt-get install -y gcc-8 g++-8
           cc: "/usr/bin/gcc-8"
           cxx: "/usr/bin/g++-8"
          
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: install compiler
        run: ${{ matrix.install }}

      - name: Configure CMake
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -t tests

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}}


  build_single_header:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        # Build your program with the given configuration
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --target release

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v3
        with:
          name: cib.hpp
          path: build/cib.hpp

  performance_test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: install compiler
        run: sudo apt update && sudo apt-get install -y clang-12

      - name: Configure CMake
        env:
          CC: clang-12
          CXX: clang++-12
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -t compilation_benchmark

      - name: 'Upload Compilation Trace'
        uses: actions/upload-artifact@v3
        with:
          name: compilation_trace.json
          path: ${{github.workspace}}/build/benchmark/CMakeFiles/compilation_benchmark.dir/big_nexus.cpp.json

